#container {
  background-color: #eee;
}

.button {
  background-color: chartreuse;
}
.box {
  height: 30px;
  width: 30px;
  box-shadow: black;
  border-style: solid;
  display: inline-block;
}
#first {
  background-color: blue;
}
#second {
  background-color: red;
}
